$ikon-font-path: "../fonts" !default;
$ikon-font-name: ikon !default;

$ikon-set:
  blog "\e622",
  hotmail "\e601",
  warning "\e00d",
  viewport "\e011",
  user "\e012",
  upload-2 "\e015",
  unlock "\e016",
  tint "\e018",
  time "\e019",
  text "\e01a",
  tags "\e01d",
  tag "\e01e",
  stop "\e021",
  stars "\e024",
  star "\e025",
  star-line "\e026",
  star-half "\e027",
  social-youtube "\e02c",
  social-yahoo "\e02e",
  social-vimeo "\e031",
  social-twitter "\e033",
  social-tumblr "\e035",
  social-stumbleupon "\e036",
  social-share-this "\e039",
  social-pinterest "\e03b",
  social-paypal "\e03d",
  social-linkedin "\e03f",
  social-google-plus "\e042",
  social-github "\e043",
  social-facebook "\e046",
  social-email "\e049",
  social-digg "\e04b",
  sitemap "\e052",
  signout "\e053",
  signin "\e054",
  signal "\e055",
  shopping-cart "\e056",
  search "\e057",
  rss "\e058",
  road "\e059",
  retweet "\e05a",
  resize-fullscreen "\e05f",
  repeat "\e061",
  reorder "\e062",
  remove "\e063",
  remove-sign "\e064",
  remove-circle "\e065",
  read-more "\e066",
  question-sign "\e068",
  pushpin "\e069",
  pushpin-2 "\e06a",
  plus "\e06c",
  plus-sign "\e06d",
  play "\e06e",
  picture "\e06f",
  phone "\e070",
  phone-sign "\e071",
  pause "\e073",
  paste "\e074",
  paper-clip "\e075",
  ok "\e076",
  ok-sign "\e077",
  ok-circle "\e078",
  move "\e07a",
  money "\e07b",
  minus "\e07c",
  minus-sign "\e07d",
  map "\e07e",
  map-marker "\e07f",
  map-marker-2 "\e080",
  magnet "\e081",
  magic "\e082",
  lock "\e083",
  list "\e084",
  list-3 "\e085",
  list-2 "\e086",
  link "\e087",
  layer "\e088",
  key "\e089",
  italic "\e08a",
  info "\e08b",
  inbox "\e08e",
  inbox-empty "\e08f",
  home "\e090",
  heart "\e091",
  heart-line "\e092",
  hdd "\e097",
  group "\e098",
  grid "\e099",
  grid-large "\e09a",
  globe-line "\e09b",
  glass-2 "\e09d",
  gift "\e09e",
  font "\e0a0",
  folder-open "\e0a1",
  folder-close "\e0a2",
  flag "\e0a3",
  fire "\e0a4",
  film "\e0a5",
  file2 "\e0a6",
  file-empty "\e0a7",
  facetime "\e0aa",
  eye "\e0ab",
  eye-disable "\e0ac",
  expand-view "\e0ad",
  expand-view-3 "\e0ae",
  expand-view-2 "\e0af",
  exclamation "\e0b2",
  email "\e0b3",
  email_2 "\e0b4",
  eject "\e0b5",
  edit "\e0b6",
  edit-check "\e0b7",
  download-2 "\e0b9",
  dashboard "\e0ba",
  credit-card "\e0bb",
  copy "\e0bc",
  comments "\e0bd",
  comments-line "\e0be",
  comment "\e0bf",
  comment-line "\e0c0",
  cogs "\e0c3",
  cog "\e0c4",
  cloud2 "\e0c5",
  check "\e0c6",
  check-empty "\e0c7",
  camera "\e0c9",
  calendar "\e0ca",
  bullhorn "\e0cb",
  briefcase "\e0cc",
  bookmark "\e0cd",
  book "\e0ce",
  bolt "\e0cf",
  blockquote "\e0d1",
  bell "\e0d2",
  beaker "\e0d3",
  barcode "\e0d4",
  ban-circle "\e0d5",
  ban-chart "\e0d6",
  ban-chart-2 "\e0d7",
  backward "\e0d8",
  asterisk "\e0d9",
  arrow-simple-up "\e0da",
  arrow-simple-up-circle "\e0db",
  arrow-simple-right "\e0dc",
  arrow-simple-right-circle "\e0dd",
  arrow-simple-left "\e0de",
  arrow-simple-left-circle "\e0df",
  arrow-simple-down "\e0e0",
  arrow-simple-down-circle "\e0e1",
  arrow-light-up "\e0ea",
  arrow-light-round-up "\e0eb",
  arrow-light-round-up-circle "\e0ec",
  arrow-light-round-right "\e0ed",
  arrow-light-round-right-circle "\e0ee",
  arrow-light-round-left "\e0ef",
  arrow-light-round-left-circle "\e0f0",
  arrow-light-round-down "\e0f1",
  arrow-light-round-down-circle "\e0f2",
  arrow-light-right "\e0f3",
  arrow-light-left "\e0f4",
  arrow-light-down "\e0f5",
  adjust "\e0fa",
  food "\e60f",
  skill "\e603",
  hand "\e604",
  footsteps "\e602",
  hourglass "\e608",
  target "\e60b",
  rocket "\e60a",
  params "\e60e",
  brush "\e607",
  addressbook "\e609",
  ticket "\e60c",
  notebook "\e00a",
  puzzle "\e02b",
  beaker2 "\e05b",
  profile-male "\e05c",
  target2 "\e05d",
  rss2 "\e060",
  trash "\e61f",
  challenge "\e001",
  office "\e004",
  recroup-logo-alt "\e005",
  recroup-logo "\e006",
  box "\e007",
  sports "\e008",
  smarterer "\e667",
  graduate "\e801",
  badge "\e802",
  pie-chart-alt "\e804",
  file-alt "\e805",
  file "\e806",
  angelist "\e809",
  bitbucket "\e80a",
  globe-alt "\e80c",
  github "\e616",
  history "\e611",
  aid "\e612",
  airplane "\e613",
  timeline "\e610",
  arrow-left "\e615",
  arrow-right "\e614",
  spinner "\e617",
  spinner2 "\e618",
  stackoverflow "\e61a",
  factory "\e61c",
  invite-sent "\e620",
  invite-send "\e621",
  preview "\e600",
  thumbs-up "\e605",
  thumbs-up2 "\e606",
  puzzle-piece "\f12e",
  bell-o "\f0f3",
  quote-left "\f10d",
  quote-right "\f10e",
  meter "\e619",
  user-delete "\e61d",
  user-add "\e61e",
  tools "\e61b",
  record "\e60d",
  namaste "\e900";
